body {
	background: #dcdcdc;
}
section {
	background: #dcdcdc;
	min-width: 500px;
	margin: 0px auto;
}
.btn {
	margin: 5px;
}
table {
	margin: 5px;
	padding: 5px;
}
img {
	border-radius: 25px;
}
h1 {
	font-family: 'Fredoka One', cursive;
}
h2 {
	font-family: 'Archivo Black', sans-serif;
}
p {
	font-size: 18px;
	font-family: 'Archivo Black', sans-serif;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th  {
 border: none;
}
.panel-heading {
	background-image: url(../images/triangular.png);
	border-radius: 25px;
}
.mybuttons {
	background-image: url(../images/redox_02.png);
	max-width: 1600px;
	margin: 0px auto;
}
.topsect {
	margin-top: 15px;
}
.fixedheader {
	position: fixed;
	z-index: 2;
	top: 0px;
	margin: 0px;
}
.tablesect {
	position: absolute;
	top: 245px;
	left: 1px;
}